.prices-main-list {
  display: grid;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.prices-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 30px 20px;
  text-align: center;
  background-color: #141619;
  color: white;
  transition: box-shadow 0.3s;
  height: 350px;
  width: 80%;
  margin: 0 auto;
}

.prices-list:hover {
  box-shadow: 0 0 8px 0 #fff;
}

.prices-list h3 {
  margin: 0 0 15px 0;
  font-size: 30px;
  letter-spacing: 1px;
}

.prices-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.prices-info li {
  display: flex;
  align-items: center;
  margin: 15px 0;
  color: #b8b8b8;
}

.prices-info .icon {
  margin-right: 10px; /* Adjust spacing as needed */
}

.prices-info .text {
  flex: 1;
  text-align: left;
}

.prices-list p {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}

.prices h1 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 20px;
}

@media (min-width: 700px) and (max-width: 1199px) {
  .prices {
    margin: 100px 0;
  }
  .prices-main-list {
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: 0 auto;
  }

  .prices-list {
    width: calc(100% - 40px); /* Ensure the width is recalculated with margin */
  }
}

@media (min-width: 1200px) {
  .prices {
    margin: 150px 0;
  }
  .prices-main-list {
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
  }

  .prices-list {
    width: calc(100% - 40px); /* Ensure the width is recalculated with margin */
  }
}
