.offer,
.team {
  margin: 100px auto;
}

.offer ul,
.team ul {
  display: grid;
  margin: 0 20px 20px 20px;
  align-items: center;
  padding: 0;
}

.offer ul li,
.team ul li {
  list-style: none;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.offer ul li img,
.team ul li img {
  width: 100%;
  height: 400px;
  /* filter: brightness(50%); */
  margin-bottom: 20px;
  position: relative;
}

.offer ul li h4,
.team ul li h4 {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  letter-spacing: 2px;
  width: 100%;
}

.team ul li h4 {
  width: 85%;
  background-color: black;
  font-size: 35px;
}

.videos {
  padding: 20px;
  margin-top: 80px;
}

.videos h1 {
  margin: 0 10px 20px 10px;
}

.videos a {
  display: inline-block;
  margin-top: 20px;
}

.v-container {
  margin: 50px 0 30px 0;
}

iframe {
  width: 100%;
}

.text p {
  font-size: 20px;
}

.btn {
  color: white;
  border: 1px solid #fff;
  padding: 10px 15px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

/* Tablet Styles */
@media (min-width: 500px) {
  .offer ul,
  .team ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 85%;
    margin: 0 auto;
  }

  .offer ul li img,
  .team ul li img {
    height: 350px;
  }

  .v-container iframe {
    width: 250px;
  }
}

@media (min-width: 760px) {
  .offer ul,
  .team ul {
    width: 80%;
    margin: 0 auto;
  }
  /* 
  .offer ul li img,
  .team ul li img {
    height: 400px;
  } */

  .offer ul li p,
  .team ul li p {
    margin: 0 auto;
    width: 100%;
  }

  .v-container iframe {
    height: 400px;
    width: 250px;
    margin: 0 20px 0 0;
  }
}

/* Desktop Styles */
@media (min-width: 1000px) {
  .offer,
  .team {
    width: 85%;
    margin: 100px auto;
  }

  .offer h1,
  .team h1 {
    padding: 0;
  }

  .offer ul,
  .team ul {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 0;
    gap: 20px;
    width: auto;
  }

  .offer ul li h4,
  .team ul li h4 {
    font-size: 30px;
    letter-spacing: 1px;
  }

  .offer ul li p,
  .team ul li p {
    font-size: 15px;
    width: 95%;
  }

  .v-container iframe {
    width: 300px;
  }
}

@media (min-width: 1700px) {
  .offer ul li img,
  .team ul li img {
    height: 490px;
    /* width: 250px; */
  }
}
