.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: transparent;
  color: white;
}

.footer-left,
.adress-contact,
.footer-right {
  margin: 10px;
}

.footer-logo {
  width: 100px;
  margin-bottom: 10px;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.social-icon {
  font-size: 24px;
  color: white;
}

.adress-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px 0;
}

.footer-adress {
  display: flex;
  align-items: center;
}

.contact-icon {
  margin-right: 10px;
  font-size: 20px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.adress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-right p,
.adress p {
  margin: 0;
  font-size: 16px;
}

.footer-social {
  margin: 25px 0;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .footer-left {
    text-align: center;
  }

  .adress {
    align-items: flex-start;
  }

  .footer-left {
    display: flex;
  }

  .footer-right {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .adress-contact {
    justify-content: center;
  }

  .footer-social {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .footer {
    margin-top: 80px;
  }

  .footer-social svg:last-child {
    margin: 0;
  }
}
