.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.contact-form h1 {
  text-align: center;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  background-color: #4b4e50;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #a8a9aa;
  font-size: 14px;
  padding-left: 10px;
}

.contact-form label.consent-label {
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ada7bf;
  font-family: "Roboto", sans-serif;
  margin: 0 0 20px 0;
}

.contact-form fieldset {
  font-family: "Roboto", sans-serif;
  color: #ada7bf;
  margin: 20px 0;
  text-align: left;
}

.dance-style-checkbox {
  margin: 10px;
}

.consent-label input {
  gap: 10px;
}

.form-btn {
  background-color: transparent;
  border: 2px solid #ccc;
  padding: 10px 50px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.form-btn:hover {
  background-color: grey;
  color: white;
}

@media (min-width: 600px) {
  .contact-form {
    width: 520px;
    align-items: normal;
  }

  .contact-form input,
  .contact-form select {
    font-size: 18px;
  }

  .contact-form input::placeholder {
    font-size: 16px;
  }

  .form-btn {
    font-size: 25px;
    padding: 10px 100px;
  }
}

@media (min-width: 900px) {
  .contact-form {
    max-width: 700px;
    padding: 40px;
    margin: 100px auto;
  }

  .contact-form input,
  .contact-form select {
    font-size: 20px;
  }

  .contact-form input::placeholder {
    font-size: 18px;
  }

  .form-btn {
    font-size: 20px;
    padding: 15px;
  }
}
