.nav {
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  padding: 16px 0;
  z-index: 1000;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav .menu-icon {
  display: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
  margin-right: 16px;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 16px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 19px;
}

.nav a:hover {
  text-decoration: underline;
}

.content {
  padding-top: 80px; /* Height of the nav bar */
}

.section {
  padding: 100px 0;
  margin: 20px 0;
  border: 1px solid #ccc;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav ul {
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .nav ul.open {
    display: flex;
  }

  .nav li {
    margin: 16px 0;
  }

  .nav .menu-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
