.logo {
  width: 60px;
  margin-left: 16px;
}

.nav {
  font-family: "Roboto", sans-serif;
  top: 0;
  width: 100%;
  background-color: black;
  padding: 16px 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .menu-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: none;
  flex-direction: column;
  background-color: black;
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav ul.open {
  display: flex;
}

.nav li {
  margin: 15px 0;
  text-transform: uppercase;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  text-decoration: underline;
}

.nav-social {
  display: none;
}

.video {
  width: 100%;
  height: auto;
}

.main-header {
  margin: 50px auto 100px auto;
  text-align: center;
  width: 80%;
}

.main-header h1 {
  padding-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.main-header p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 60px;
  line-height: 25px;
  font-weight: 300;
}

.content {
  width: 100%;
  /* padding-top: 36px; Height of the nav bar */
}

.gym-photo {
  /* width: 370px; */
  height: 500px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.lessons {
  display: block;
  position: relative;
  margin: 50px auto;
}

.lessons a {
  color: #fff;
}

.lessons div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 0 20px;
  text-align: center;
}

.lessons h2 {
  font-family: "Bebas Neue", sans-serif;
  margin: 0 0 10px 0;
}

.lessons p {
  font-weight: 200;
  font-size: 15px;
  color: white;
  margin-bottom: 50px;
  align-items: center;
}

.lessons p:last-child {
  color: #fff;
  font-size: 20px;
  margin: 25px 0 0;
}

@media (min-width: 768px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .logo {
    grid-area: 1/1/2/2;
    padding-left: 30px;
  }

  .nav-links {
    grid-area: 1 / 2 / 2 / 4;
  }

  .nav .menu-icon {
    display: none;
  }

  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: static;
    background-color: transparent;
  }

  .nav li {
    margin: 0 10px;
  }

  .nav-social li {
    margin-left: 16px;
  }

  .nav-social svg {
    width: 25px;
    height: 25px;
  }

  .nav-social {
    display: flex;
    grid-area: 1 / 4 / 2 / 5;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
  }

  .main-header {
    font-size: 20px;
    width: 70%;
  }

  .main-header p {
    line-height: 35px;
  }

  .lessons p {
    font-size: 20px;
  }

  .lessons h2 {
    margin-bottom: 30px;
  }
}

@media (min-width: 1100px) {
  .section {
    margin: 30px auto;
  }

  .video {
    height: 600px;
    object-fit: cover;
  }
}

@media (min-width: 1200px) {
  .lessons h2 {
    font-size: 30px;
  }
  .lessons p {
    font-size: 20px;
  }

  .main-header {
    margin: 50px auto 100px;
    font-size: 21px;
  }

  .main-header p {
    /* width: 850px; */
    margin: 0 auto;
    line-height: 35px;
  }

  .video {
    height: 600px;
  }

  .btn {
    display: inline-block;
    margin: 15px 0;
  }
}

@media (min-width: 1500px) {
  .gym-photo {
    height: auto;
    margin: 165px auto;
  }
  .lessons {
    display: flex;
  }

  .main-header {
    width: 45%;
  }
}
